.usersContainer{
  background-image: url('/assets/background2.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1{
    margin: 3rem;
    color: $white;
  }
  .link{
    text-decoration: none;
    h3{
      font-family: $heading;
      font-size: 5rem;
      color: $jazzy;
    }
  }
}