* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tenor Sans", sans-serif;
}

#root {
  background-image: url("/public/assets/background3.png");
  background-repeat: repeat-x;
  height: auto;
  min-height: 100vh;
}

.navbar {
  height: 20vh;
}
.navbar .logo {
  margin-left: 23rem;
  height: 10rem;
  width: 20rem;
}
.navbar .logo img {
  margin-top: 2rem;
  height: 10rem;
}

.formContainer {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer .formlogin {
  background-color: rgba(20, 20, 20, 0.6431372549);
  border-radius: 20px;
  width: 40vw;
  height: 50vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formContainer .formlogin h2 {
  font-family: "Gochi Hand", cursive;
  font-size: 2.5rem;
  color: #d095fa;
  margin-bottom: 1rem;
}
.formContainer .formlogin .campo {
  background-color: rgba(20, 20, 20, 0.6431372549);
  height: 3rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
  padding: 1rem;
  font-size: 1.3rem;
  color: #E8E8E8;
  border-color: #ffd49a;
  border-radius: 10px;
}
.formContainer .formlogin .btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0rem 0.5rem 0rem 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(20, 20, 20, 0.6431372549);
}
.formContainer .formlogin .btnContainer .btnLogin {
  background-color: rgba(20, 20, 20, 0.6431372549);
  margin: 0.5rem 0rem 0.5rem 0rem;
  height: 3rem;
  width: 8rem;
  font-size: 1.3rem;
  border-radius: 10px;
  border-color: #ffd49a;
  color: #E8E8E8;
}
.formContainer .formlogin .btnContainer .btnLogin:hover {
  box-shadow: 0px 0px 10px 2px #ffd49a;
}
.formContainer .formlogin span {
  color: #ff99bd;
  font-size: 1.3rem;
}
.formContainer .formlogin .access {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0.5rem 0rem 0.5rem;
}
.formContainer .formlogin .access h3 {
  color: #d095fa;
  margin: 2rem 1rem 0 0;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
}
.formContainer .formlogin .access .facebook {
  margin: 0.5rem 0.5rem 0rem 0.5rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formContainer .formlogin .access .facebook:hover {
  border: 1px solid #E8E8E8;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #E8E8E8;
}
.formContainer .formlogin .access .facebook .fbIcon {
  color: #E8E8E8;
  font-size: 3rem;
}
.formContainer .formlogin .access .google {
  margin: 0.5rem 0.5rem 0rem 0.5rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formContainer .formlogin .access .google:hover {
  border: 1px solid #E8E8E8;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #E8E8E8;
}
.formContainer .formlogin .access .google .googleIcon {
  color: #E8E8E8;
  font-size: 3rem;
}
.formContainer .formlogin .access .twitter {
  margin: 0.5rem 0.5rem 0rem 0.5rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formContainer .formlogin .access .twitter:hover {
  border: 1px solid #E8E8E8;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #E8E8E8;
}
.formContainer .formlogin .access .twitter .twIcon {
  color: #E8E8E8;
  font-size: 3rem;
}

.users {
  display: flex;
  flex-direction: column;
}
.users header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.users header img {
  position: absolute;
  width: 100%;
}
.users header .infoLog {
  position: inherit;
  display: flex;
  flex-direction: row;
  border: 2px dotted #c3fae4;
  border-radius: 10px;
  height: 15rem;
  width: 30rem;
  margin-top: 5rem;
  margin-right: 10rem;
  padding: 1.5rem;
  color: #E8E8E8;
}
.users header .infoLog .uinfo {
  background-color: #ff99bd;
  padding: 1.5rem;
  border-radius: 10px;
}
.users header .infoLog .uinfo p {
  font-size: 1.3rem;
}
.users header .infoLog .btnLogout {
  background-color: rgba(20, 20, 20, 0.6431372549);
  margin: 3rem;
  height: 3rem;
  width: 8rem;
  font-size: 1.3rem;
  border-radius: 10px;
  border-color: rgba(20, 20, 20, 0.6431372549);
  color: #E8E8E8;
}
.users header .infoLog .btnLogout:hover {
  box-shadow: 0px 0px 10px 2px #E8E8E8;
}
.users .cardsContainer {
  position: inherit;
  margin-top: 3rem;
  height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.users .cardsContainer .userCard {
  background-image: url("/public/assets/background4.png");
  border-radius: 0px 20px 0px 20px;
  width: 15rem;
  height: 23rem;
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.users .cardsContainer .userCard .cardPic {
  width: 80%;
  border-radius: 0px 20px 0px 20px;
}
.users .cardsContainer .userCard p {
  margin-top: 1rem;
  font-family: "Gochi Hand", cursive;
  font-size: 2rem;
  color: #d095fa;
}
.users .cardsContainer .userCard .card-footer {
  margin-top: 1rem;
}
.users .cardsContainer .userCard .card-footer .btnDetail {
  background-color: #E8E8E8;
  margin: 1rem;
  height: 3rem;
  width: 8rem;
  font-size: 1.3rem;
  border-radius: 10px;
  border-style: solid;
  border-color: #ffd49a;
  color: #d095fa;
}
.users .cardsContainer .userCard .card-footer .btnDetail:hover {
  box-shadow: 0px 0px 10px 2px #ffd49a;
}

.notFound {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.notFound img {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.notFound h3 {
  position: absolute;
  font-family: "Tenor Sans";
  color: #ff99bd;
  margin-bottom: 3.5rem;
  font-size: 2.5rem;
}/*# sourceMappingURL=styles.css.map */