* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tenor Sans", sans-serif;
}

#root {
  background-image: url("/public/assets/background3.png");
  background-repeat: repeat-x;
  height: auto;
  min-height: 100vh;
}

.navbar {
  height: 20vh;
}
.navbar .logo {
  margin-left: 23rem;
  height: 10rem;
  width: 20rem;
}
.navbar .logo img {
  margin-top: 2rem;
  height: 10rem;
}

.formContainer {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /*   .formlogin{
    background-color: $back;
    border-radius: 20px;
    width: 40vw;
    height: 50vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
      h2{
        font-family: $heading;
        font-size: 2.5rem;
        color: $tittles;
        margin-bottom: 1rem;
      }
      .campo{
        background-color: $back;
        height: 3rem;
        margin: 0.5rem 0rem 0.5rem 0rem;
        padding: 1rem;
        font-size: 1.3rem;
        color: $white;
        border-color: $other;
        border-radius: 10px;
      }
      .btnContainer{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0rem 0.5rem 0rem 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $back;
        .btnLogin{
          background-color: $back;
          margin: 0.5rem 0rem 0.5rem 0rem;
          height: 3rem;
          width: 8rem;
          font-size: 1.3rem;
          border-radius: 10px;
          border-color: $other;
          color: $white;
          &:hover{
            box-shadow: 0px 0px 10px 2px $other;
          }
        }
      }
      span{
        color: $jazzy;
        font-size: 1.3rem;
      }
      .access{
        display: flex;
        flex-direction: row;
        margin: 0.5rem 0.5rem 0rem 0.5rem;
        h3{
          color: $tittles;
          margin: 2rem 1rem 0 0;
          font-size: 1.3rem;
          justify-content: center;
          align-items: center;
        }
        .facebook{
          margin: 0.5rem 0.5rem 0rem 0.5rem;
          width: 5rem;
          height: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover{
            border: 1px solid $white;
            border-radius: 10px;
            box-shadow: 0px 0px 5px 5px $white;
          }
          .fbIcon{
            color: $white;
            font-size: 3rem;
          }
        }
        .google{
          margin: 0.5rem 0.5rem 0rem 0.5rem;
          width: 5rem;
          height: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover{
            border: 1px solid $white;
            border-radius: 10px;
            box-shadow: 0px 0px 5px 5px $white;
          }
          .googleIcon{
            color: $white;
            font-size: 3rem;
          }
        }
        .twitter{
          margin: 0.5rem 0.5rem 0rem 0.5rem;
          width: 5rem;
          height: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover{
            border: 1px solid $white;
            border-radius: 10px;
            box-shadow: 0px 0px 5px 5px $white;
          }
          .twIcon{
            color: $white;
            font-size: 3rem;
          }
        }
      }
  } */
}
.formContainer .login {
  background-color: rgba(20, 20, 20, 0.6431372549);
  border-radius: 20px;
  width: 40vw;
  height: 50vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
}
.formContainer .login h2 {
  font-family: "Gochi Hand", cursive;
  font-size: 2.5rem;
  font-weight: 300;
  color: #d095fa;
  margin: 2rem;
}
.formContainer .login div {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer .login div .btnLogin {
  background-color: rgba(20, 20, 20, 0.6431372549);
  padding: 1.5rem;
  font-size: 3rem;
  border-radius: 10px;
  border: 5px solid #d095fa;
  color: #E8E8E8;
}
.formContainer .login div .btnLogin:hover {
  box-shadow: 0px 0px 30px 2px #d095fa;
}

.allUsers {
  display: flex;
  flex-direction: column;
}
.allUsers header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.allUsers header img {
  position: absolute;
  width: 100%;
}
.allUsers header .infoLog {
  position: inherit;
  display: flex;
  flex-direction: row;
  border: 2px dotted #c3fae4;
  border-radius: 10px;
  height: 15rem;
  width: 30rem;
  margin-top: 5rem;
  margin-right: 10rem;
  padding: 1.5rem;
  color: #E8E8E8;
}
.allUsers header .infoLog .uinfo {
  background-color: #ff99bd;
  padding: 1.5rem;
  border-radius: 10px;
}
.allUsers header .infoLog .uinfo p {
  font-size: 1.3rem;
}
.allUsers header .infoLog .btnLogout {
  background-color: rgba(20, 20, 20, 0.6431372549);
  margin: 3rem;
  height: 3rem;
  width: 8rem;
  font-size: 1.3rem;
  border-radius: 10px;
  border-color: rgba(20, 20, 20, 0.6431372549);
  color: #E8E8E8;
}
.allUsers header .infoLog .btnLogout:hover {
  box-shadow: 0px 0px 10px 2px #E8E8E8;
}
.allUsers .cardsContainer {
  position: inherit;
  margin-top: 3rem;
  height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.allUsers .cardsContainer .userCard {
  background-image: url("/public/assets/background4.png");
  border-radius: 0px 20px 0px 20px;
  width: 15rem;
  height: 23rem;
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.allUsers .cardsContainer .userCard .cardPic {
  width: 80%;
  border-radius: 0px 20px 0px 20px;
}
.allUsers .cardsContainer .userCard p {
  margin-top: 1rem;
  font-family: "Gochi Hand", cursive;
  font-size: 2rem;
  color: #d095fa;
}
.allUsers .cardsContainer .userCard .card-footer {
  margin-top: 1rem;
}
.allUsers .cardsContainer .userCard .card-footer .btnDetail {
  background-color: #E8E8E8;
  margin: 1rem;
  height: 3rem;
  width: 8rem;
  font-size: 1.3rem;
  border-radius: 10px;
  border-style: solid;
  border-color: #ffd49a;
  color: rgba(20, 20, 20, 0.6431372549);
}
.allUsers .cardsContainer .userCard .card-footer .btnDetail:hover {
  box-shadow: 0px 0px 10px 2px #ffd49a;
}
.allUsers footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.allUsers footer .tooltip {
  position: relative;
  display: inline-block;
}
.allUsers footer .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(20, 20, 20, 0.6431372549);
  color: #E8E8E8;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.allUsers footer .addOne {
  font-size: 4rem;
  color: #ff99bd;
  margin-right: 15rem;
  width: 5rem;
}
.allUsers footer .addOne:hover {
  color: #ffd49a;
}
.allUsers footer .tooltip:hover .tooltiptext {
  visibility: visible;
}

.userArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userArea header {
  position: relative;
}
.userArea .cardInfo {
  background-color: rgba(232, 232, 232, 0.5215686275);
  border-radius: 20px;
  width: 40vw;
  height: 40vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userArea .cardInfo .info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}
.userArea .cardInfo .info .dataUser {
  width: 50%;
  height: 100%;
  padding: 1rem;
}
.userArea .cardInfo .info .dataUser h3 {
  font-family: "Gochi Hand", cursive;
  font-weight: 200;
  font-size: 2rem;
  color: #ffd49a;
  margin-bottom: 0.5rem;
}
.userArea .cardInfo .info .dataUser p {
  font-family: "Tenor Sans";
  font-size: 1.7rem;
  color: #111111;
  margin-bottom: 0.5rem;
}
.userArea .cardInfo .info .right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.userArea .cardInfo .info .right .picUser {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.userArea .cardInfo .info .right .picUser img {
  border-radius: 20px;
}
.userArea .cardInfo .info .right .editUser {
  width: 100%;
  height: 50%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.userArea .cardInfo .info .right .editUser div {
  display: flex;
  flex-direction: column;
}
.userArea .cardInfo .info .right .editUser div .btnEdit {
  background-color: rgba(20, 20, 20, 0.6431372549);
  margin: 0.5rem 0rem 0.5rem 0rem;
  height: 3rem;
  width: 8rem;
  font-size: 1.3rem;
  border-radius: 10px;
  border-color: #fffbbb;
  color: #E8E8E8;
}
.userArea .cardInfo .info .right .editUser div .btnEdit:hover {
  box-shadow: 0px 0px 10px 2px #fffbbb;
}
.userArea .cardInfo .info .right .editUser div .btnDelete {
  background-color: rgba(20, 20, 20, 0.6431372549);
  margin: 0.5rem 0rem 0.5rem 0rem;
  height: 3rem;
  width: 8rem;
  font-size: 1.3rem;
  border-radius: 10px;
  border-color: #d095fa;
  color: #E8E8E8;
}
.userArea .cardInfo .info .right .editUser div .btnDelete:hover {
  box-shadow: 0px 0px 10px 2px #d095fa;
}
.userArea footer .btnHome {
  font-size: 6rem;
  color: #ff99bd;
  margin: 1rem;
}
.userArea footer .btnHome:hover {
  font-size: 7rem;
}

.editUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.editUser header {
  position: relative;
}
.editUser .cardEdit {
  background-color: rgba(232, 232, 232, 0.5215686275);
  border-radius: 20px;
  width: 40vw;
  height: 40vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.editUser .cardEdit h1 {
  width: 100%;
  margin: 1rem;
  font-family: "Gochi Hand", cursive;
  font-weight: 200;
  font-size: 2rem;
}
.editUser .cardEdit .formEdit {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.editUser .cardEdit .formEdit .dataEdit {
  display: flex;
  flex-direction: column;
}
.editUser .cardEdit .formEdit .dataEdit h3 {
  margin-left: 2rem;
  font-family: "Tenor Sans";
  font-weight: 200;
  font-size: 1.5rem;
  color: #fffbbb;
  margin-bottom: 0.5rem;
}
.editUser .cardEdit .formEdit .dataEdit .editinp {
  background-color: rgba(20, 20, 20, 0.6431372549);
  height: 3rem;
  width: 17rem;
  margin: 0.5rem 0rem 1rem 2rem;
  padding: 1rem;
  font-size: 1.3rem;
  color: #E8E8E8;
  border-color: #fffbbb;
  border-radius: 10px;
}
.editUser .cardEdit .formEdit div {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.editUser .cardEdit .formEdit div span {
  padding: 0.5rem;
  background-color: #ff99bd;
  border-radius: 20px;
  color: #E8E8E8;
  font-size: 1.3rem;
}
.editUser .cardEdit .formEdit div .btnEdit {
  background-color: #fffbbb;
  margin: 0.5rem 0rem 0.5rem 0rem;
  height: 3rem;
  width: 8rem;
  font-size: 1.3rem;
  border-radius: 10px;
  border-color: #fffbbb;
  color: #111111;
}
.editUser .cardEdit .formEdit div .btnEdit:hover {
  box-shadow: 0px 0px 10px 2px #fffbbb;
}
.editUser footer {
  display: flex;
  flex-direction: row;
}
.editUser footer .btnBack {
  font-size: 6rem;
  color: #ff99bd;
  margin: 1rem;
}
.editUser footer .btnBack:hover {
  font-size: 7rem;
}
.editUser footer .btnHome {
  font-size: 6rem;
  color: #ff99bd;
  margin: 1rem;
}
.editUser footer .btnHome:hover {
  font-size: 7rem;
}

.createUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.createUser header {
  position: relative;
}
.createUser .cardCreate {
  background-color: rgba(232, 232, 232, 0.5215686275);
  border-radius: 20px;
  width: 40vw;
  height: 40vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.createUser .cardCreate h1 {
  width: 100%;
  margin: 1rem;
  font-family: "Gochi Hand", cursive;
  font-weight: 200;
  font-size: 2rem;
}
.createUser .cardCreate .formAdd {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.createUser .cardCreate .formAdd .newData {
  display: flex;
  flex-direction: column;
}
.createUser .cardCreate .formAdd .newData h3 {
  margin-left: 2rem;
  font-family: "Tenor Sans";
  font-weight: 200;
  font-size: 1.5rem;
  color: #ff99bd;
  margin-bottom: 0.5rem;
}
.createUser .cardCreate .formAdd .newData .editinp {
  background-color: rgba(232, 232, 232, 0.5215686275);
  height: 3rem;
  width: 17rem;
  margin: 0.5rem 0rem 1rem 2rem;
  padding: 1rem;
  font-size: 1.3rem;
  color: rgba(20, 20, 20, 0.6431372549);
  border-color: #ff99bd;
  border-radius: 10px;
}
.createUser .cardCreate .formAdd div {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.createUser .cardCreate .formAdd div span {
  padding: 0.5rem;
  background-color: #d095fa;
  border-radius: 20px;
  color: #E8E8E8;
  font-size: 1.3rem;
}
.createUser .cardCreate .formAdd div .btnAdd {
  background-color: #ff99bd;
  margin: 0.5rem 0rem 0.5rem 0rem;
  height: 3rem;
  width: 8rem;
  font-size: 1.3rem;
  border-radius: 10px;
  border-color: #ff99bd;
  color: rgba(20, 20, 20, 0.6431372549);
}
.createUser .cardCreate .formAdd div .btnAdd:hover {
  box-shadow: 0px 0px 10px 2px #ff99bd;
}
.createUser footer .btnHome {
  font-size: 6rem;
  color: #ff99bd;
  margin: 1rem;
}
.createUser footer .btnHome:hover {
  font-size: 7rem;
}

.notFound {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.notFound img {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.notFound h3 {
  position: absolute;
  font-family: "Tenor Sans";
  color: #ff99bd;
  margin-bottom: 3.5rem;
  font-size: 2.5rem;
}/*# sourceMappingURL=styles.css.map */