//background
$back: #141414a4;
$ligthback: #e8e8e885;

//tittles
$tittles: #d095fa;

//texts
$white: #E8E8E8;
$black: rgb(17, 17, 17);
$yellow: #fffbbb;

//elements
$light: #c3fae4;
$jazzy: #ff99bd;
$other: #ffd49a;
